<style type="text/css">
/*statsdb*/
.box { font: 10px sans-serif;
 stroke-width: 0.5px; }

.box .center { stroke-dasharray: 3 3; }
.box .outlier { stroke: #ccc; fill: none; }

.whisker {
 stroke: black; stroke-width: 0.5px;
}


.basebox:hover {
  fill: lightgray;
    opacity: 0.5;

}

.label{
font: 10px sans-serif;
}

.path {
stroke: red; stroke-width: 2px;
fill: transparent;
}

.scoreboxgreen {
fill: green;
opacity: 0.3;
}

.scoreboxyellow {
fill: yellow;
opacity: 0.3;
}

.scoreboxred {
fill: red;
opacity: 0.3;
}


#statschartqualityprofile{
   display: block;
    height: 100%;
    position: absolute;
    visibility: visible;
    width: 100%;
}

#statschartmessage{
    position: absolute;
    background: white;
    border: 2px solid #000000;
    padding: 5px;
    text-align: left;
right:0px;
}

#Statsresultgraph{
    text-align: center;
}

/*stats db perbasecontent*/


.line{
stroke-width: 2px;
}

.circle{
stroke-width: 2px;}

.labelG{
	stroke: blue;

}

.labelA{
	stroke: red;
}


.labelT{
	stroke: green;

}

.labelC{
	stroke: black;

}

.circleG{
	stroke: blue;
	fill: white;

}

.circleA{
	stroke: red;
	fill: white;

}


.circleT{
	stroke: green;
	fill: white;

}


.circleC{
	stroke: black;
	fill: white;

}

.lineG{
	stroke: blue;

}

.lineA{
	stroke: red;

}


.lineT{
	stroke: green;

}


.lineC{
	stroke: black;

}
a.DTTT_button{
    margin-left:10px ! important;
}
